@font-face{font-family:'leon'; font-weight:900 ;src:url('@/assets/fonts/Leon-Bold.woff') format('woff'); }
@font-face{font-family:'leon'; font-weight:800 ;src:url('@/assets/fonts/Leon-Regular.woff') format('woff'); }
@font-face{font-family:'leon'; font-weight:400 ;src:url('@/assets/fonts/Leon-Thin.woff') format('woff'); }